@model shoeyStore.Models.ViewModels.ClientViewModel
@{
    ViewBag.Title = "Register";
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h1 class="modal-title fs-5">Register</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body p-0">
            @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { role = "form", @class = "p-5 row", id = "register" }))
            {
                <div class="col-md-6 px-3">
                    <div class="form-outline mb-4">
                        <input type="text" id="NombreCliente" name="NombreCliente" class="form-control" style="max-width:100%"  />
                        <label class="form-label" for="NombreCliente">Your Name</label>
                        @Html.ValidationMessageFor(e => e.NombreCliente, "", new { @class = "d-block text-danger mb-2" })
                    </div>

                    <div class="form-outline mb-4">
                        <input type="email" id="CorreoElectronico" name="CorreoElectronico" class="form-control" style="max-width:100%"  />
                        <label class="form-label" for="CorreoElectronico">Your Email</label>
                        @Html.ValidationMessageFor(e => e.CorreoElectronico, "", new { @class = "d-block text-danger mb-2" })
                    </div>
                </div>

                <div class="col-md-6 px-3">
                    <div class="form-outline mb-4">
                        <input type="password" id="PasswordR" name="Contrasenna" class="form-control" style="max-width:100%"  />
                        <label class="form-label" for="Contrasenna">Password</label>
                        @Html.ValidationMessageFor(e => e.Contrasenna, "", new { @class = "d-block text-danger mb-2" })
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="PasswordAgain" name="PasswordAgain" class="form-control" style="max-width:100%" />
                        <label class="form-label" for="PasswordAgain">Repeat your password</label>
                        @Html.ValidationMessageFor(e => e.Contrasenna, "", new { @class = "d-block text-danger mb-2" })
                    </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-success btn-block btn-lg text-white">
                        Register
                    </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                    Have already an account? <a onclick="switchLogin()"
                                                class="fw-bold text-body"><u>Login here</u></a>
                </p>

            }
        </div>
    </div>
</div>


<script>

    function switchLogin() {
        // Removes backdrop
        $('.modal-backdrop').remove();
        // Hide the current modal
        $('#registerModal').modal('hide');
        // Show the target modal
        $('#loginModal').modal('show');
    }
</script>

