@model List<shoeyStore.Models.ViewModels.ProductTableViewModel>
@{
    ViewBag.Title = "Home";
}

<main>
    <div class="w-100 overflow-hidden">
        <video class="w-100" autoplay loop muted style="margin-top: -20%;">
            <source src="~/Content/assets/shoeyVideo.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="">
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-success btn-lg rounded-pill py-3" href="@Url.Content("~/ItemNavigation")">SHOP NOW <i class="bi bi-arrow-right-circle-fill ms-3 text-white"></i></button>
        </div>
        <div id="carousel">
            @Html.Action("Carousel", "Home");
        </div>
        <div id="carousel2">
            @Html.Action("Carousel", "Home");
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Remove the min-vh-100 class from the element with a specific ID
            $("#carousel > div").removeClass("min-vh-100");
            $("#carousel2 > div").removeClass("min-vh-100");
        });
    </script>

</main>
