@model List<shoeyStore.Models.ViewModels.ProductTableViewModel>
@{
    ViewBag.Title = "Home";
}

<main>
    <div class="w-100 overflow-hidden">
        <video class="w-100" autoplay loop muted style="margin-top:-20%;">
            <source src="~/Content/assets/shoeyVideo.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="row container-fluid">
        
    </div>

</main>